In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r"/Users/sujalgaur/Documents/Upflair training/Deep Learning/cust_satisfaction 2.csv")
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  object
 1   Customer Type               103904 non-null  object
 2   Type of Travel              103904 non-null  object
 3   Class                       103904 non-null  object
 4   satisfaction                103904 non-null  object
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), object(5)
memory usage: 9.5+ MB

In [6]:
df.isnull().sum()
df.dropna(inplace=True)

In [7]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [8]:
df["Customer Type"].value_counts()

Customer Type
Loyal Customer       84517
disloyal Customer    18905
Name: count, dtype: int64

In [9]:
loyal_customer = df[df["Customer Type"] == "Loyal Customer"]
disloyal_customer = df[df["Customer Type"] == "disloyal Customer"]

In [10]:
loyal_customer = loyal_customer.sample(20000)
loyal_customer.shape

(20000, 12)

In [11]:
balance_df = pd.concat([loyal_customer, disloyal_customer], axis=0)
balance_df.shape

(38905, 12)

In [12]:
cat_col = balance_df.select_dtypes(include=["object"])
cat_col.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction
46136,Female,Loyal Customer,Business travel,Business,satisfied
95138,Female,Loyal Customer,Business travel,Business,satisfied
54965,Male,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied
31600,Male,Loyal Customer,Business travel,Eco Plus,satisfied
37555,Female,Loyal Customer,Personal Travel,Eco,neutral or dissatisfied

In [13]:
num_col = balance_df.select_dtypes(exclude=["object"])
num_col.head()

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
46136,39,2336,5,5,4,0,0.0
95138,57,295,5,5,5,0,0.0
54965,21,359,2,5,2,20,35.0
31600,33,1028,5,1,5,0,7.0
37555,7,1131,1,4,1,60,35.0

In [14]:
pd.get_dummies(cat_col, drop_first=True).astype(int).head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Eco,Class_Eco Plus,satisfaction_satisfied
46136,0,0,0,0,0,1
95138,0,0,0,0,0,1
54965,1,0,1,1,0,0
31600,1,0,0,0,1,1
37555,0,0,1,1,0,0

In [15]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
ohe = OneHotEncoder(drop="if_binary")
cat_col_encoded = ohe.fit_transform(cat_col).toarray()
cat_col_encoded

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [16]:
column_name = list(ohe.get_feature_names_out())
column_name

['Gender_Male',
 'Customer Type_disloyal Customer',
 'Type of Travel_Personal Travel',
 'Class_Business',
 'Class_Eco',
 'Class_Eco Plus',
 'satisfaction_satisfied']

In [17]:
one_hot = pd.DataFrame(cat_col_encoded, columns=column_name)
one_hot.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [18]:
one_hot = one_hot.reset_index(drop=True)
num_col = num_col.reset_index(drop=True)
final_df = pd.concat([one_hot, num_col], axis=1)
final_df.head()

,Gender_Male,Customer Type_disloyal Customer,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_satisfied,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,39,2336,5,5,4,0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,57,295,5,5,5,0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,21,359,2,5,2,20,35.0
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,33,1028,5,1,5,0,7.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,7,1131,1,4,1,60,35.0

In [19]:
##x and y ---> train test split -->algo train
x = final_df.drop("Customer Type_disloyal Customer", axis=1)
y = final_df["Customer Type_disloyal Customer"]

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [21]:
##deep learning -- tensorflow keras
# pip install tensorflow

In [22]:
##standard scaler 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train_scaled = sc.fit_transform(x_train)
x_test_scaled = sc.transform(x_test)

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
x_train.shape[1]

13

In [25]:
##define your ann model 
model = Sequential()
##input layer 
##68 -- no of neurons -- general convention -- 128 
model.add(Dense(68,activation="relu",input_dim = x_train_scaled.shape[1]))
##hidden layer 
model.add(Dense(32, activation="relu"))
model.add(Dense(24, activation="relu"))
model.add(Dense(12, activation="relu"))
##output layer 
model.add(Dense(1, activation="sigmoid"))
##model compile 
model.compile(optimizer="adam",
               loss="binary_crossentropy",
                 metrics=["accuracy"])
model.summary()

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 68)             │           952 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,208 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 24)             │           792 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 12)             │           300 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 1)              │            13 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,265 (16.66 KB)

 Trainable params: 4,265 (16.66 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
# (13+1)* 68

# (68+1) *32

In [27]:
history = model.fit(x_train_scaled,y_train,
                    epochs = 10 ,
                    validation_data=(x_test_scaled,y_test))

Epoch 1/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 2s 904us/step - accuracy: 0.8636 - loss: 0.3271 - val_accuracy: 0.9120 - val_loss: 0.2292
Epoch 2/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.9052 - loss: 0.2395 - val_accuracy: 0.9166 - val_loss: 0.2173
Epoch 3/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.9159 - loss: 0.2166 - val_accuracy: 0.9168 - val_loss: 0.2151
Epoch 4/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 749us/step - accuracy: 0.9174 - loss: 0.2151 - val_accuracy: 0.9212 - val_loss: 0.2032
Epoch 5/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.9207 - loss: 0.2055 - val_accuracy: 0.9177 - val_loss: 0.2081
Epoch 6/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.9214 - loss: 0.2061 - val_accuracy: 0.9256 - val_loss: 0.1978
Epoch 7/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 748us/step - accuracy: 0.9232 - loss: 0.1989 - val_accuracy: 0.9240 - val_loss: 0.2003
Epoch 8/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 840us/step - accuracy: 0.9232 - loss: 0.1969 - val_accuracy: 0.9261 - val_loss: 0.1968
Epoch 9/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 769us/step - accuracy: 0.9266 - loss: 0.1937 - val_accuracy: 0.9247 - val_loss: 0.1928
Epoch 10/10
973/973 ━━━━━━━━━━━━━━━━━━━━ 1s 772us/step - accuracy: 0.9288 - loss: 0.1914 - val_accuracy: 0.9255 - val_loss: 0.1889

In [28]:
## prediction 
y_pred = model.predict(x_test_scaled)
prediction_label = (y_pred > 0.5).astype(int).ravel()
prediction_label

244/244 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step

array([0, 1, 0, ..., 0, 1, 1])

In [29]:
model.save("model_classfication.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [30]:
from tensorflow.keras.models import load_model
model_load = load_model("model_classfication.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.